.audio-control{
	position: absolute;
	bottom: 0px;
}

.audio-resource-viewer{
    background-color: #808080;
    height:100%;
    width: 100%;
}
.audio-resource-viewer>.media-control-panel{
    position: absolute;
    bottom: 0px;
}
.audio-resource-viewer>.audio-content>.progress{
    position: absolute;
    width: 50%;
    left: 25%;
    top: 50%;
}

