.basic-encounter-info-container {
	height: 100%;
	width: 100%;
	font-size: 12px;
}

.basic-encounter-info-header {
	background: #666666;
	color: white;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 3px;
}

.basic-encounter-info-entry {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 3px;
}

.basic-encounter-info-entry-key {
	font-weight: bold;
}

.basic-encounter-info-entry-value {

}