.basic-encounter-info-container {
	height: 600px;
	width: 300px;
	position: relative;
	overflow: hidden;
}
.basic-encounter-info-contents {
	min-width: 100%;
}
.basic-counter-info-header {
	background: #666666;
	color: white;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 3px;
}
.basic-counter-info-value {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 3px;
}