.basic-encounter-info-container {
	height: 100%;
	width: 100%;
}

.basic-counter-info-header {
	background: #666666;
	color: white;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 3px;
}

.basic-counter-info-value {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 3px;
}