
.image-resource-main-container {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.image-resource-main-container .image-control-panel {
	position: absolute;
	bottom: initial;
	top: 100%;
}
.image-resource-main-container .image-control-panel {
	position: absolute;
	bottom: -30px;
	top: initial;
}
.image-resource-main-container:hover .image-control-panel {
	bottom: 0px;
}
.image-resource-image-container {
	width: 100%;
	height: 100%;
	background: #333;
	overflow: hidden;
	position: relative;
}
.image-resource-image {
	position: absolute;
	height: auto;
}

/* Image Control Panel Start */

.image-control-panel {
	width: 100%;
	background-color: #eee;
	height: 30px;
}
.image-control-panel .btn {
	height: 30px;
	width: 30px;
	padding: 4px 7px;
}

.image-control-panel>div.left {
	float: left;
	margin-right: 10px;
}

.image-control-panel>div.right {
	float: right;
	margin-left: 10px;
}

.image-control-panel>div.right.long {
	width: 100px;
}

.image-control-panel .btn.contrast-stretching-menu-button.option-selected {
	border-radius: 4px 0 0 4px;
}

.image-control-panel button.contrast-stretching-settings-button {
	border-left: none;
	border-radius: 0 4px 4px 0;
}

.image-control-panel button.recolor-button {
	width: 40px;
}

.image-control-panel .btn-group.bootstrap-select button {
	width: 100%;
}

/* Image Control Panel End */