.resource {
    border: solid 2.9px;
    background-color: #d4dbe0;
    color: white;
    width: 100px;
    margin-bottom: -3px;
    float: left;
    cursor: pointer;
    height: 90px;
}

.resource:hover {
    background-color: #adb9c4;
}

.media-thumbnail {
    width: 96%;
    height: 70px;
    padding: 4px;
}

.clear {
    clear: both;
}

.media-header {
    width: 90px;
    overflow-wrap: break-word;
    text-align: center;
    font-size: 0.82em;
    color: #000;
    margin-bottom: 5px;
}