.col-xs-1 .resource-explorer-container {
    text-align: center;
}

.resource {
    border: solid 2.9px;
    background-color: #d4dbe0;
    color: white;
    max-width: 20%;
    margin-bottom: -3px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.resource:hover {
    background-color: #adb9c4;
}

.col-xs-1 .resource {
    max-width: 90px;
}

.resource-thumbnail {
    max-width: 100%;
    min-height: 100%;
    /*zoom: 150%;*/
}

.resource-thumbnail-container{
    padding: 4px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.col-xs-1 .resource-thumbnail-container{
    width: 80px;
    height: 80px;
}

.clear {
    clear: both;
}

.resource-title {
    overflow-wrap: break-word;
    text-align: center;
    font-size: 1em;
    color: #000;
    margin-bottom: 5px;
    max-width: 100%;
    padding: 2px;
}

.col-xs-1 .resource-title {
    max-width: 80px;
    font-size: 0.75em;
}

.resource-dragged{
    max-width: 150px;
}

.col-xs-1 .resource-dragged{
    max-width: 90px;
}