/* Start of custom font definition */

@font-face {
	font-family: 'SEWI Icon Font';
	src:url('../fonts/sewi-icon-font.eot');
	src:url('../fonts/sewi-icon-font.eot#iefix') format('embedded-opentype'),
		url('../fonts/sewi-icon-font.woff') format('woff'),
		url('../fonts/sewi-icon-font.ttf') format('truetype'),
		url('../fonts/sewi-icon-font.svg#SEWI-Icon-Font') format('svg');
	font-weight: normal;
	font-style: normal;
}

.sewi-icon, [class^="sewi-icon-"], [class*=" sewi-icon-"] {
	font-family: 'SEWI Icon Font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sewi-icon-zoom-to-full:before {
	content: "\e601";
}
.sewi-icon-graph-select-none:before {
	content: "\e603";
}
.sewi-icon-graph-select-part:before {
	content: "\e604";
}
.sewi-icon-graph-select-all:before {
	content: "\e605";
}
.sewi-icon-zoom-to-fit:before {
	content: "\e606";
}
.sewi-icon-zoom:before {
	content: "\f002";
}
.sewi-icon-brightness-medium:before {
	content: "\e600";
}
.sewi-icon-contrast:before {
	content: "\e602";
}

/* End of custom font definition */

html, body {
	height: 100%;
	overflow-x: hidden;
}

body {
    background: #FFFFFF; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(211,211,211,1) 0%, rgba(255,255,255,1) 60%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,211,211,1)), color-stop(60%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(211,211,211,1) 0%,rgba(255,255,255,1) 60%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(211,211,211,1) 0%,rgba(255,255,255,1) 60%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(211,211,211,1) 0%,rgba(255,255,255,1) 60%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(211,211,211,1) 0%,rgba(255,255,255,1) 60%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.container{
	min-width: 980px;
	height: 100%;
}

#sewiContainer {
  min-height: 530px;
  margin-bottom: 50px;
  height: calc(100% - 120px);
}

#beiView, #mainView, #resView {
  height: 100%;
  padding: 0;
  overflow: hidden;
}

#beiView, #mainView, #resView {
  height: 100%;
  padding: 0;
  border: 1px #999 solid;
  overflow: hidden;
  background-color: #fff;
}

#mainView,
#beiView {
    border-right: none;
}

#beiView {
    border-radius: 5px 0 0 5px;
}

#resView {
    border-radius: 0 5px 5px 0;
}

#alerts {
    position: absolute;
    top: -55px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
}

#alerts.active {
    top: 0px;
}

.col-xs-0, .col-sm-0, .col-md-0, .col-lg-0 {
  width: 0px;
  float: left;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  min-height: 1px;
  border: none!important;
}

.btn-link {
    padding: 0;
    border: 0;
    margin: 0 2px;
}

.btn-link:focus,
.btn-link:active:focus {
    outline: 0;
}

/* Any 'animated' elements will have a smooth transition */
.animated {
  transition: all 200ms ease-in-out 0s;
}

.tooltip {
	pointer-events: none;
}

.tooltip.in {
	opacity: 1;
}

.tooltip-inner {
	max-width: 250px;
}

.tooltip span.underline {
  text-decoration: underline;
}

div.minimize-button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    padding: 2px 5px;
    color: #fff;
    cursor: pointer;
    border-radius: 0 0 0 5px;
}

div.minimize-button:before {
	content: '<<';
}

.minimized div.minimize-button:before {
	content: '>>';
}

label.btn input {
	display: none;
}

.resource-viewer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.resource-viewer *::selection{
    background: transparent;
}

.resource-viewer .top-panel {
	position: absolute;
	top: -30px;
	right: 0;
	height: 30px;
	background: transparent;
	opacity: 0.7;
	z-index: 4000;
}

.resource-viewer:hover .top-panel {
    top: 0;
}

.resource-viewer .top-panel:hover {
    opacity: 1;
}

.resource-viewer .btn-group {
    float: right;
}

.resource-viewer .top-panel .btn {
    height: 30px;
    width: 30px;
    padding: 5px 8px;
}

.error-screen{
    position: absolute;
    background-color: #111;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
	z-index: 3000;
}
.error-screen>.retry {
    position: absolute;
    top: 40%;
    width: 100%;
    color: white;
    text-align: center;
}
.error-screen>.error-text{
    position: absolute;
    top: 50%;
    width: 100%;
    color: white;
    text-align: center;
}

.resource-viewer .progress-bar-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
	z-index: 2000;
}

.resource-viewer .progress {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 50%;
}

.resource-viewer .progress .progress-bar {
    transition: width 200ms ease-out 0s;
}

.resource-viewer .progress .progress-bar-text{
    position: absolute;
    width: 100%;
    text-align: center;
}

/* Range input styles */

input[type=range] {
  display: block;
  -webkit-appearance: none;
  background: transparent;
}

input[type=range]:focus,
input[type=range]:hover,
input[type=range]:active {
    background: initial;
    box-shadow: initial;
    border-color: initial;
    box-shadow: initial;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 6px;
    border: none;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.5);
}

input[type="range"]::-moz-range-track {
    height: 6px;
    border: none;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.5);
}

input[type="range"]::-ms-track {
    height: 6px;
    border: none;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.5);
    color: transparent; /* don't drawn vertical reference line */
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 10px;
    background: #fff;
    border: 1px #ccc solid;
    border-radius: 2px;
    margin-top: -7px;
}

input[type=range]::-ms-thumb {
    height: 20px;
    width: 10px;
    background: #fff;
    border: 1px #ccc solid;
    border-radius: 2px;
    margin-top: 0;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 10px;
    background: #fff;
    border: 1px #ccc solid;
    border-radius: 2px;
    margin-top: -7px;
}

/* Vertical range input styles */

.vertical-slider-container {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 0px;
}

.vertical-slider-popup {
  width: 30px;
  border-radius: 5px;
  background: white;
  overflow: hidden;
  display: block;
  height: 0px;
  padding: 0;
  margin-top: 0px;
  transition: margin-top 0.2s linear,height 0.2s linear,padding 0.2s linear;
}

.vertical-slider-container:hover .vertical-slider-popup,
.vertical-slider-popup.active {
  height: 120px;
  margin-top: -120px;
  padding: 10px 0;
}

.vertical-slider-popup>input[type=range] {
  transform: translate(-70px, 0) rotate(270deg);
  width: 100px;
  height: 30px;
  transform-origin: 85px 50%;
}

.vertical-slider-popup>input[type=range]:focus {
  outline: none;
}

/* Hide elements in full screen with 'fullscreen-hidden' class */
:-webkit-full-screen .fullscreen-hidden {
    display: none;
}

:-moz-full-screen .fullscreen-hidden {
    display: none;
}

:-ms-full-screen .fullscreen-hidden {
    display: none;
}

:fullscreen .fullscreen-hidden {
    display: none;
}


.slider-container{
    position: absolute;
    top: calc(50% - 5px);
    width: 100%;
    height: 10px;
    background-color: rgb(218, 218, 218);
    -webkit-box-shadow: 0px 0px 1px 1px #777 inset;
    -moz-box-shadow: 0px 0px 1px 1px #777 inset;
    box-shadow: 0px 0px 1px 1px #777 inset;
}
.slider-bar{
    height: 10px;
    width: 10%;
    background-color: rgba(0,0,0,0.6);
}

.slider-bar:hover{
    background-color: rgba(0,0,0,0.5);
}
