.tab-container{
	background-color: #AAA;
	width: 100%;
	height: 100%;
}

.tab-content{
	position: relative;
	background-color: #FFF;
	border-left: 1px #DDD solid;
	border-right: 1px #DDD solid;
	border-bottom: 1px #DDD solid;
	height: calc(100% - 42px);
}

.nav-tabs>li>a.add-tab-button{
	background-color: #FFF;
	border-width: 1px;
	border-style: solid;
	border-color: #DDD #DDD transparent;
}

.tab-content >.tab-pane{
	width: 100%;
	height: 100%;
}

.panel-content{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.panel-drop-area{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #50D0E1;
	opacity: 0;
}

.panel-drop-area-top{
	top: 1%;
	border-radius: 10px;
	height: 40%;
	width: 30%;
	left: 35%;
}

.panel-drop-area-bottom{
	bottom: 1%;
	border-radius: 10px;
	height: 40%;
	width: 30%;
	left: 35%;
}

.panel-drop-area-left{
	left: 1%;
	border-radius: 10px;
	width: 30%;
	height: 40%;
	top: 30%;
}

.panel-drop-area-right{
	right: 1%;
	border-radius: 10px;
	width: 30%;
	height: 40%;
	top: 30%;
}

.panel-drop-area-visible{
	opacity: 0.2;
}
.panel-drop-area-hover{
	opacity: 0.4;
}

.panel{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.panel-right{
	position: absolute;
	top: 0; 
	right: 0;
	width: 50%;
	height: 100%;
}

.panel-left{
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
}

.panel-top{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
}

.panel-bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
}
