<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>Sana Single Encounter Web Interface</title>
    <meta charset="utf-8" />
    {# CSS #}
    <link rel="stylesheet" type="text/css" href="{% static "sewi/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "sewi/css/jquery-ui-1.10.3.custom.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "sewi/css/style.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "sewi/css/tab.css" %}" />
    {# JavaScript libraries #}
    <script type="text/javascript" src="{% static "sewi/js/lib/require.min.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/lib/lodash.min.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/lib/jquery-1.10.2.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/lib/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/lib/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/lib/Chart.min.js" %}"></script>
    {# SEWI JavaScript files #}
    <script type="text/javascript" src="{% static "sewi/js/app/tab.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/app/main.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/tests/runner.js" %}"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Roger Williams <small>Encounter #456</small></h1>
      </div>
      <div id="sewiContainer" class="row">
        <div id="beiView" class="col-sm-3 animated">

        </div>
        <div id="mainView" class="col-sm-8 animated">

        </div>
        <div id="resView" class="col-sm-1 animated">

        </div>
      </div>
    </div>
  </body>
</html>
