<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>Sana Single Encounter Web Interface</title>
    <meta charset="utf-8" />
    {# CSS #}
    <link rel="stylesheet" type="text/css" href="{% static "sewi/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "sewi/css/jquery-ui-1.10.3.custom.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "sewi/css/resourceGallery.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "sewi/css/videoResourceViewer.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "sewi/css/imageResourceViewer.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "sewi/css/audioResourceViewer.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "sewi/css/tab.css" %}" /> 
    <link rel="stylesheet" type="text/css" href="{% static "sewi/css/style.css" %}" />
	{# JavaScript libraries #}
    <script type="text/javascript" src="{% static "sewi/js/lib/lodash.min.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/lib/jquery-1.10.2.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/lib/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/lib/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/lib/dygraph-combined.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/lib/jquery.slimscroll.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/lib/tooltip.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/lib/Chart.min.js" %}"></script>
    {# SEWI JavaScript files #}
    <script type="text/javascript" src="{% static "sewi/js/app/common.js" %}"></script>
    {# SEWI JavaScript files #}
    <script type="text/javascript" src="{% static "sewi/js/app/common.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/app/configuratorElement.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/app/tab.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/app/progressBar.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/app/errorScreen.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/app/resourceGallery.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/app/videoResourceViewer.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/app/imageResourceViewer.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/app/audioResourceViewer.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/app/configurator.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/app/main.js" %}"></script>
  </head>
  <body>
    <div class="container">
      <div id="titleView" class="row">

      </div>
	    <div id="sewiContainer" class="row">
            <div id="beiView" class="col-sm-3 animated">
            </div>
            <div id="mainView" class="col-sm-8 animated">
            </div>
            <div id="resView" class="col-sm-1 animated">
            </div>
            </div>
        <div id="alerts" class="alert alert-danger animated"</div>
         
            </div>
<script>
</script>
         
    </div>
<script>
</script>
</body>
</html>
