<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>Sana Single Encounter Web Interface</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" href="{% static "sewi/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "sewi/css/jquery-ui-1.10.3.custom.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "sewi/css/style.css" %}" />

    <script type="text/javascript" src="{% static "sewi/js/lodash.min.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/jquery-1.10.2.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/Chart.min.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/app.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/tests/runner.js" %}"></script>
  </head>
  <body>
    <div class="container">
      <div class="col-sm-2">
        sidebar
      </div>
      <div class="col-sm-8">
        center
      </div>
      <div class="col-sm-2">
        right
      </div>
    </div>
  </body>
</html>
