<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>SEWI Test Runner</title>
    <meta charset="utf-8" />
    {# CSS #}
    <link rel="stylesheet" type="text/css" href="{% static "sewi/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "sewi/css/jquery-ui-1.10.3.custom.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "sewi/js/tests/vendor/qunit-1.12.0.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "sewi/css/style.css" %}" />
    <style>
        html, body {
            overflow: initial;
        }
    </style>
    {# JavaScript libraries #}
    <script type="text/javascript" src="{% static "sewi/js/lib/lodash.min.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/lib/jquery-2.1.0.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/lib/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/lib/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/lib/dygraph-combined.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/lib/jquery.slimscroll.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/lib/bootstrap-select.min.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/tests/vendor/qunit-1.12.0.js" %}"></script>
    <script type="text/javascript" src="{% static "sewi/js/tests/vendor/blanket.min.js" %}"></script>
    {# SEWI JavaScript files #}
    <script type="text/javascript" src="{% static "sewi/js/app/common.js" %}" data-cover></script>
    <script type="text/javascript" src="{% static "sewi/js/app/configuratorElement.js" %}" data-cover></script>
    <script type="text/javascript" src="{% static "sewi/js/app/panZoomWidget.js" %}" data-cover></script>
    <script type="text/javascript" src="{% static "sewi/js/app/tab.js" %}" data-cover></script>
    <script type="text/javascript" src="{% static "sewi/js/app/scrollBar.js" %}" data-cover></script>
    <script type="text/javascript" src="{% static "sewi/js/app/basicEncounterInfoViewer.js" %}" data-cover></script>
    <script type="text/javascript" src="{% static "sewi/js/app/resourceGallery.js" %}" data-cover></script>
    <script type="text/javascript" src="{% static "sewi/js/app/chartResourceViewer.js" %}" data-cover></script>
    <script type="text/javascript" src="{% static "sewi/js/app/videoResourceViewer.js" %}" data-cover></script>
    <script type="text/javascript" src="{% static "sewi/js/app/imageResourceViewer.js" %}" data-cover></script>
    <script type="text/javascript" src="{% static "sewi/js/app/audioResourceViewer.js" %}" data-cover></script>
    <script type="text/javascript" src="{% static "sewi/js/app/configurator.js" %}" data-cover></script>
  </head>
  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script src="{% static "sewi/js/tests/tests.js" %}"></script>
    <script src="{% static "sewi/js/tests/configurator.js" %}"></script>
    <script src="{% static "sewi/js/tests/tabtest.js" %}"></script>
    <script src="{% static "sewi/js/tests/common.js" %}"></script>
    <script src="{% static "sewi/js/tests/resourceViewer.js" %}"></script>
  </body>
</html>
